body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}
a {
    text-decoration: none;
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
} 
/*============HEADER===========*/

.header {
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    margin-right: 332px;
    align-items: center;
}

.header-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo-part {
    color: #2E2F42;
}

.nav-link-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.nav-link-list:last-child {
    margin-right: 0;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.adress-list:last-child {
    margin-right: 0;
}

.address-link {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/*=============================*/

/*============HERO=============*/

.hero {
    padding: 188px 0;
    background-color: #2E2F42;
}

.hero-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-btn {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}


/*=============FEATURES=========*/

.features, .team, .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-item-list {
    display: flex;
    gap: 24px;
}

.features-list {
    width: calc((100% - 72px) / 4);
}

.features-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*=============================*/

/*============TEAM===========*/

.team {
    background-color: #F4F4FD;
}

.team-container {
}

.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.person-text {
    padding: 32px 0;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.team-person {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/*=============================*/

/*============PORTFOLIO===========*/

.portfolio {}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portf-li {
    max-width: 360px;
}

.portfolio-item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*=============================*/

/*============FOOTER===========*/

.footer {
    padding: 100px 0;
    background-color: #2E2F42;
}

.footer-container {
    
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {
    color: #F4F4FD;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/*=============================*/